In [1]:
import pandas as pd 
import polars as pl
from datetime import timedelta, datetime

In [2]:
ds_pd = pd.date_range(start='2010/01/01', periods=365*30*24*60, freq = 'min').astype(str).to_series()
ds_pd[::2] = None

In [3]:
ds_pd

2010-01-01 00:00:00                   None
2010-01-01 00:01:00    2010-01-01 00:01:00
2010-01-01 00:02:00                   None
2010-01-01 00:03:00    2010-01-01 00:03:00
2010-01-01 00:04:00                   None
                              ...
2039-12-24 23:55:00    2039-12-24 23:55:00
2039-12-24 23:56:00                   None
2039-12-24 23:57:00    2039-12-24 23:57:00
2039-12-24 23:58:00                   None
2039-12-24 23:59:00    2039-12-24 23:59:00
Length: 15768000, dtype: object

In [4]:
ds_pl = pl.Series(ds_pd)

In [56]:
ds_pl =pl.datetime_range(start=datetime(2010,1,1), end=datetime(2039,12,25), interval = '1m', closed = 'left', eager=True).dt.to_string("%Y-%m-%d %H:%M:%S")

# Create a mask for every second row
mask = pl.arange(0, ds_pl.len()) % 2 == 1

# Create a new Series with None in every second row
s_modified = ds_pl.where(~mask, None)

AttributeError: 'Series' object has no attribute 'where'

In [44]:
ds_pl

shape: (15_768_000,)
Series: 'literal' [str]
[
	"2010-01-01 00:00:00"
	"2010-01-01 00:01:00"
	"2010-01-01 00:02:00"
	"2010-01-01 00:03:00"
	"2010-01-01 00:04:00"
	…
	"2039-12-24 23:55:00"
	"2039-12-24 23:56:00"
	"2039-12-24 23:57:00"
	"2039-12-24 23:58:00"
	"2039-12-24 23:59:00"
]

In [5]:
x = pd.to_datetime(ds_pd)

In [6]:
y = ds_pl.str.to_datetime("%Y-%m-%d %H:%M:%S")

In [10]:
y

shape: (15_768_000,)
Series: '' [datetime[μs]]
[
	null
	2010-01-01 00:01:00
	null
	2010-01-01 00:03:00
	null
	…
	2039-12-24 23:55:00
	null
	2039-12-24 23:57:00
	null
	2039-12-24 23:59:00
]